@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Itim&family=Monoton&display=swap');

:root {
    --main-color: rgb(18, 18, 20);
    --pink-color: #E91C5D;
    --purple-color: #8257E6;
    --white-color: #ffffff;
    --orange-color: #fd951f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: 'Bellota Text', cursive;
    font-weight: 400;
    /* background-color: var(--main-color);
    color: var(--white-color); */
}

html{
    font-size: 62.5%;
}

/* End common styles */

/* Section 1 */
.section-1{
    width: 100%;
    height: 100vh;
    position: relative;
}

body{
    overflow: hidden;
}


.floating-bg{
    width: 150vw;
    height: 150vw;
    background-color: var(--pink-color);
    position: absolute;
    top: -125vw;
    left: calc(50% - 75vw);
    border-radius: 45%;
    animation: rotate 40s infinite;
}

.floating-bg::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(50, 231, 255);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 45%;
    animation: rotate 40s infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}


.navbar{
    position: relative;
    z-index: 20;
    top: 4rem;
    display: flex;
    justify-content: space-evenly;
    
}

.navbar-link{
    font-family: 'Itim';
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--pink-color);
    width: 1.5rem;
    word-wrap: break-word;
    text-align: center;
    transition: all 0.5s;
}

.navbar-link:hover{
    width: 15rem;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 2.5s;
}


.section-1-heading{
    font-size: 4rem;
    font-family: "Monoton", cursive;
    position: absolute;
    top: 20vw;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0.3rem 0.3rem 0.3rem #888;
    color: var(--white-color);
    text-align: center;
    opacity: 0.9;
}

.logo{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.logo i{
    font-size: 15rem;
    color: var(--pink-color);
    text-shadow: 0.1rem 0.1rem 0.2rem #ddd, -0.1rem -0.1rem -0.2rem #ddd; 

}


/* End Section 1 */
